<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCatalog"
        tools:targetApi="31">
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">
            <!-- La línea superior sirve para que HomeActivity no se
            resetee cada vez que giramos la pantalla -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CatalogActivity"
            android:exported="true"/>
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <!-- La línea superior sirve para que DetailActivity no se
            reinicie automáticamente cada vez que giramos la pantalla,
            y así poder seguir mostrando el número de likes tras cambiar
            la orientación -->
    </application>
</manifest>